<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Django Istanbul</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Django İstanbul</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/events/">Etkinlikler</a></li>
            <li><a href="/team/">Ekip</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/contact/">İletişim</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>Django İstanbul</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <p><a class="btn primary large">Learn More &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span-one-third">
          <h2>Etkinlik</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          <p><a class="btn" href="#">view details &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <h2>Etkinlik</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          <p><a class="btn" href="#">view details</a></p>
        </div>

        <div class="span-one-third">
          <h2>Etkinlik</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          <p><a class="btn" href="#">view details</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Django Istanbul 2011</p>
      </footer>

    </div>

  </body>
</html>

