{% extends "base.html" %}
{% load markup %}

{% block content %}

<div class="hero-unit">
    <h1>Django İstanbul</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
    <p><a class="btn primary large">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="span-one-third">
        <h2>Gelecek Etkinlik</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

    <div class="span-one-third">
        <h2>Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <p><a class="btn" href="#">Views details &raquo;</a></p>
    </div>
</div>

{% endblock %}

